@use '../helpers' as *;

.contest {
    padding-top: fluid(88, 40);
    padding-left: fluid(22, 0);
    border-bottom: var(--border-white);

    @include tablet {
        padding-inline: rem(5);
        text-align: center;
    }

    &>h2 {
        max-width: rem(1200);
        padding-bottom: fluid(120, 24);
        text-transform: none;
    }

    &>p {
        padding-bottom: fluid(60, 20);
        font-weight: 400;
        font-family: var(--font-family-gotham-book);
    }

    &:last-child {
        padding-bottom: fluid(140, 24);
    }
}