@use './helpers' as *;

body {
  @include fluid-text(18, 16);
  color: var(--color-light);
  background-color: var(--color-dark);
  font-family: var(--font-family-gotham);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

address {
  list-style: normal;
}

li {
  &:hover {
      color: var(--color-light-accent);
  }
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

h1 {
  font-family: var(--font-family-bodony);
  font-weight: 600;
  font-size: fluid(137, 28);
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-family-bodony);
  font-weight: 500;
  text-transform: uppercase;
  font-size: fluid(56, 20);
  letter-spacing: 0.05em;
}

h4 {
  font-family: var(--font-family-bodony);
  font-weight: 500;
  font-size: fluid(24, 18);
  text-transform: uppercase;
}

h5 {
  font-family: var(--font-family-gotham);
  font-weight: 700;
  font-size: fluid(48, 22);
  letter-spacing: 0.05em;
}

p {
  font-family: var(--font-family-inter);
  font-size: fluid(18, 14);
  letter-spacing: 0.1em;
}

a {
  font-size: fluid(16, 14);
}